@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

:root {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 20px;
  color: black;
}

body {
  margin: 0;
  display: flex;
  background-image: linear-gradient(#5fe2ae, #2fb6cf, #5e9cc2);
  height: 100vh;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.items-lista {
  margin: 6px;
  margin-left: -33px;
  padding: 1.1rem;
  background-color: orange;
  text-align: center;
}

.items-lista:hover {
  background-color: orangered;
  font-weight: bolder;
  cursor: pointer;
}

.contenedor {
  margin: auto;
  border: 5px solid black;
  border-radius: 15px;
  min-width: 70vw;
  max-width: 75vw;
  text-align: center;
}
